@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-image: url('./assets/bg-water.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
}
